extends layout

block content
  h1  Aplicacion Futbol 5
  p
  p Ingresa a tu cuenta  #{title}

  h3 Enlaces demo

  a(href="/login") Login
  p
   a(href="/Jugadores") Jugador

 
  
 
  a(href="/") Volver al principal
