extends layout

block content
  //h1 Ejemplo de Lista UL/LI
  //<ul>
  //<LI>Primer elemento
  //<LI>Segundo elemento
  //<LI>Tercer elemento
  //<LI>Cuarto elemento
  //<LI>Quinto elemento
  //<LI>Sexto elemento
  //</ul>
  
  | h1 Ejemplo de Lista UL/LI
  ul
      li
        | Primer elemento
        li
          | Segundo elemento
          li
            | Tercer elemento
            li
              | Cuarto elemento
              li
                | Quinto elemento
                li
                  | Sexto elemento
  
  
  a(href="/") Menu Principal
   
